{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, harum ipsa ex adipisci sequi eligendi similique nihil eius, expedita itaque quam assumenda quas debitis temporibus sint reprehenderit! Magnam animi laboriosam neque exercitationem delectus iure facilis autem ea mollitia error consequuntur ratione non nihil praesentium, aspernatur debitis cum laborum dolor! Ea, doloribus eos vero sed est dignissimos et molestiae. Ab, perferendis veniam velit assumenda vero beatae exercitationem libero modi corrupti expedita, fugit laborum nesciunt atque labore quas! Eum iusto itaque quos atque tempore eveniet hic obcaecati. Dolorem, minus exercitationem dolor sunt quo distinctio, corporis, natus enim provident repudiandae ex necessitatibus eveniet.</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>

    </section>
</main>

{% endblock %}